@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #181819;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

#menubutton {
    background-color: black;
    border: none;
}

#hamburger {
    width: 28px;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 170px;
    overflow: auto;
    border: 2px solid #ed5735;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: white;
    opacity: 0.75;
    padding: 5px;
    text-decoration: none;
    border-bottom: 2px solid #ed5735;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #ed5735;
  }


.nav-icons {
    max-width: 17px;
    margin-right: 7px;
    display: inline;
}

#roteiro {
    border-bottom: none;
}